{% extends 'base.html.twig' %}
 
{% block title %}Forgotten Password{% endblock %}
 {% block stylesheets %}
     <style>
         h1{
             color: #1d2124;
             font-family: "Lucida Handwriting";
         }
         .required{
             font-family: "Comic Sans MS";
             font-size: 20px;
             padding-right: 30px;
             font-weight: bold;
         }
         .form:visited{
             border:1px;
         }
         .form{
             padding-right: 800px;
             padding-top: 20px;
             border-radius: 10px ;
         }
         .button{
             padding-left: 450px;
             padding-top: 20px;
         }
         button{
             background-color: #2b569a;
             border-radius: 30px ;
             color: white;
             padding: 15px 32px;
             text-align: center;
             text-decoration: none;
             display: inline-block ;
             font-size: 16px;}
     </style>
{% endblock %}
{% block body %}
    <h1>Password Forgotten</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-3">
                {{ form_start(emailForm) }}
                {{ form_row(emailForm.email, {'attr': {'class': ' form'}}) }}
                <div class="button">
                {{ form_row(emailForm.send) }}
                </div>
                {{ form_end(emailForm) }}
            </div>
        </div>
    </div>

{% endblock %}